h1, label, h4 {
    color: #7090A4;
}
h1 {
    text-align: center;
}
a.mi {
    color: #7090A4;
}
img.card-img-top {
    text-align: center;
}
.card {
 background: none;
}
.form-control {
    margin-bottom: 10px;
}
button.btn.btn-primary {
    background-color: #7090A4;
    color: white;
    border-color: transparent;
}
button.btn.btn-primary:hover {
    background-color: #161A22;
    color: white;
    border-color: #7090A4;
}


