h1, label, h4 {
    color: #7090A4;
}
h1 {
    text-align: center;
}
a {
    color: #7090A4;
}
.btn {
    background: #7090A4;
}
img.card-img-top {
    text-align: center;
}
.card {
 background: none;
}


