html, body {
    height: 100%;
}

div#slider3.slider-container.college {
    margin: 0px;
    padding: 0px;
}
div.container h1 {
    align-self: center;
    align-items: center;
}
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slider {
    display: flex;
    width: 100%;
    transition: transform 1s;
}
.slider img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    padding: 10px;
    transform: translate(2%, 10%);
}
.card-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.card.mb-3 {
    margin-top: 0px;
}
div.row.no-gutters {
    margin-bottom: 40px;
}
h5.card-title.c13 {
    color: #161A22;
}
p.card-text.c14 {
    color: #7090A4;
}