button.btn.btn-block.btn-primary {
    background-color: #7090A4;
    color: white;
    border-color: transparent;
}
button.btn.btn-block.btn-primary:hover {
    background-color: #161A22;
    color: white;
    border-color: #7090A4;
}